[submodule "vim/bundle/neocomplcache.vim"]
	path = vim/bundle/neocomplcache.vim
	url = https://github.com/Shougo/neocomplcache.vim
[submodule "vim/bundle/vim-bundler"]
	path = vim/bundle/vim-bundler
	url = https://github.com/tpope/vim-bundler
[submodule "vim/bundle/vim-coffee-script"]
	path = vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/bundle/vim-javascript-syntax"]
	path = vim/bundle/vim-javascript-syntax
	url = https://github.com/jelera/vim-javascript-syntax
[submodule "vim/bundle/vim-rails"]
	path = vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/bundle/vim-tomorrow-theme"]
	path = vim/bundle/vim-tomorrow-theme
	url = https://github.com/chriskempson/vim-tomorrow-theme
[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = git@github.com:plasticboy/vim-markdown.git
[submodule "vim/bundle/ag.vim"]
	path = vim/bundle/ag.vim
	url = git@github.com:rking/ag.vim.git
[submodule "vim/bundle/vim-elm"]
	path = vim/bundle/vim-elm
	url = https://github.com/lambdatoast/elm.vim.git
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "vim/bundle/editorconfig-vim"]
	path = vim/bundle/editorconfig-vim
	url = git@github.com:editorconfig/editorconfig-vim.git
[submodule "vim/bundle/ale"]
	path = vim/bundle/ale
	url = git@github.com:w0rp/ale.git
[submodule "vim/bundle/vim-jsx"]
	path = vim/bundle/vim-jsx
	url = git@github.com:mxw/vim-jsx.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = git@github.com:ctrlpvim/ctrlp.vim.git
[submodule "vim/bundle/vim-angular"]
	path = vim/bundle/vim-angular
	url = git@github.com:burnettk/vim-angular.git
